{% load task_extras %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>Milo Solutions test</title>
  </head>
  <body>
        <div class="container">
          <div class="row">
              {% block body %}
              {% endblock body %}
          </div>
        </div>
  </body>
</html>
