{% extends 'task/base.html' %}

{% block body %}
    <form action="" method="POST">{% csrf_token %}
        <p>Sure about deleting user "{{ object }}" ???</p>
        <button type="submit" class="btn btn-success">Definitely YES!!!</button>
    </form>
{% endblock body %}
