{% extends "task/base.html" %}
{% load task_extras %}
{% block body %}

<a href="{% url 'task:add_user' %}">Add new user</a>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            {% for user in users|slice:":1" %}
            <tr>
                <td>{% get_verbose_name user "username" %}</td>
                <td>{% get_verbose_name user "date_of_birth" %}</td>
                <td>{% get_verbose_name user "random_int" %}</td>
                <th>Allowed</th>
                <th>BizzFuzz</th>
            </tr>
            {% endfor %}
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td><a href="{% url 'task:user_details' user.id %}">{{ user.username }}</a></td>
                <td>{{ user.date_of_birth }}</td>
                <td>{{ user.random_int }}</td>
                <td>{% is_permited user.date_of_birth %}</td>
                <td>{% bizz_fuzz user.random_int %}</td>
                <td><a href="{% url 'task:edit_user' user.id %}">Edit</a></td>
                <td><a href="{% url 'task:delete_user' user.id %}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'task:dowload_users_list' %}">Download users list</a>
</div>
{% endblock %}
