{% extends "task/base.html" %}
{% load task_extras %}

{% block body %}
    {% for name, value in user.get_fields %}
        <p>
            <label>{{ name }}:</label>
            <span>{{ value|default:"Not available" }}</span>
        </p>
    {% endfor %}
{% endblock %}
