{% extends 'task/base.html' %}
{% load crispy_forms_tags %}


{% block body %}
    <form action="" method="POST">{% csrf_token %}
        {{ form | crispy }}
        <button type="submit" class="btn btn-success">Edit</button>
    </form>
{% endblock body %}
